@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-400: hsl(180, 66%, 49%);
    --purple-950: hsl(257, 27%, 26%);
    --purple-transparent: hsl(257, 27%, 26%, 0.1);

    --red-400: hsl(0, 87%, 67%);

    --gray-400: hsl(0, 0%, 75%);
    --gray-500: hsl(257, 7%, 63%);
    --gray-900: hsl(255, 11%, 22%);
    --gray-950: hsl(260, 8%, 14%);
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.center {
    margin-inline: 5%;
}
.heroBg{
  background-image: url('./assets/images/illustration-working.svg');
}
.bgBoost {
    background-image: url("./assets/images/bg-boost-mobile.svg");
}
.bgInput {
    background-image: url("./assets/images/bg-shorten-mobile.svg");
}

@media screen and (min-width: 1024px) {
    .benefit {
        transform: translateY(var(--transY));
    }
    .bgBoost {
        background-image: url("./assets/images/bg-boost-desktop.svg");
    }
    .bgInput {
        background-image: url("./assets/images/bg-shorten-desktop.svg");
    }
}
